.caroussel-container {
  max-width: 400px;
  background-color: black;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.caroussel-container div {
  background-color: white;
  width: 100%;
  display: inline-block;
  display: none;
  position:absolute;
  top:0;
  left:auto;
}
.caroussel-container img {
  width: 100%;
  height: auto;
}

